<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <style>
        body {
            font-family: Arial;
            padding: 20px;
        }
        form {
            margin-bottom: 30px;
        }
        table {
            border-collapse: collapse;
            width: 70%;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
 <h2>Registered Students <a href="/">Insert New Student</a> </h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roll</th>
            <th>Action</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.roll }}</td>
            <td>
                <a href="/edit/{{ student._id }}">Edit</a> |
                <a href="/delete/{{ student._id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
